{% set settingsData = {
  assetVolume: settings.assetVolume,
  clientName: settings.clientName,
  myCompanyName: settings.myCompanyName,
  projectName: settings.projectName,
  templatePath: settings.templatePath,
} %}

{% set translations = {} %}
{% for key in translationKeys %}
  {% set translations = translations|merge({(key): key|t('guide')}) %}
{% endfor %}

<div
  id="guide-admin-globals"
  data-asset-components="{{ assetComponents|json_encode }}"
  data-asset-path="{{ view.getAssetManager().getPublishedUrl('@wbrowar/guide/assetbundles/static', true) }}"
  data-dev-mode="{{ craft.app.config.general.devMode ? 'true' : 'false' }}"
  data-guides="{{ guides|json_encode }}"
  data-pro-edition="{{ proEdition ? 'true' : 'false' }}"
  data-settings="{{ settingsData|json_encode }}"
  data-templates="{{ templates|json_encode }}"
  data-translations="{{ translations|json_encode }}"
  data-user-operations="{{ userOperations|json_encode }}"
></div>