{% set settingsData = {
  assetVolume: settings.assetVolume ?? '',
  clientName: settings.clientName,
  enableGuideCss: settings.enableGuideCss == true ? true : false,
  enableGuideJavascript: settings.enableGuideJavascript == true ? true : false,
  myCompanyName: settings.myCompanyName,
  projectName: settings.projectName,
  templatePath: settings.templatePath ?? '',
} %}

<div
  id="guide-admin-globals"
  data-dev-mode="{{ craft.app.config.general.devMode ? 'true' : 'false' }}"
  data-guides="{{ guidesForJs|json_encode }}"
  data-pro-edition="{{ proEdition ? 'true' : 'false' }}"
  data-settings="{{ settingsData|json_encode }}"
  data-user-operations="{{ userOperations|json_encode }}"
></div>

{% if proEdition and settings.enableGuideJavascript %}
  {% set guideGlobalJs %}
    window.guideCallback = [];
  {% endset %}
  {% js guideGlobalJs %}
{% endif %}

{% for guide in guides %}
  {% if proEdition and settings.enableGuideCss and guide.contentSource == 'field' and guide.contentCss ?? false %}
    {% css guide.contentCss %}
  {% endif %}

  {% if proEdition and settings.enableGuideJavascript and guide.contentSource == 'field' and guide.contentJavascript ?? false %}
{% set guideJs %}window.guideCallback['{{ guide.slug }}'] = () => {
{{ guide.contentJavascript|raw }}
}{% endset %}
    {% js guideJs %}
  {% endif %}
{% endfor %}