{% set settingsData = {
  assetVolume: settings.assetVolume ?? '',
  clientName: settings.clientName,
  enableGuideCss: settings.enableGuideCss == true,
  enableGuideJavascript: settings.enableGuideJavascript == true,
  fieldHeaderButtons: fieldHeaderButtons,
  fun: settings.fun == true,
  myCompanyName: settings.myCompanyName,
  projectName: settings.projectName,
  templatePath: settings.templatePath ?? '',
} %}

<div
  id="guide-admin-globals"
  data-asset-path="{{ view.getAssetManager().getPublishedUrl('@wbrowar/guide/assetbundles/static', true) }}"
  data-dev-mode="{{ craft.app.config.general.devMode ? 'true' : 'false' }}"
  data-field-header-buttons="{{ fieldHeaderButtons|json_encode }}"
  data-guides="{{ guidesForJs|json_encode }}"
  data-pro-edition="{{ proEdition ? 'true' : 'false' }}"
  data-settings="{{ settingsData|json_encode }}"
  data-user-operations="{{ userOperations|json_encode }}"
></div>

{# Register CSS and JavaScript for guides. #}
{% if proEdition and settings.enableGuideJavascript %}
  {% set guideGlobalJs %}
    window.guideCallback = {};
  {% endset %}
  {% js guideGlobalJs at beginBody %}
{% endif %}

{% for guide in guides %}
  {% if proEdition and settings.enableGuideCss and settings.registerGuideCss and guide.contentCss ?? false %}
    {% css guide.contentCss %}
  {% endif %}

  {% if proEdition and settings.enableGuideJavascript and settings.registerGuideJavascript and guide.contentJavascript ?? false %}
{% set guideJs %}window.guideCallback['{{ guide.slug }}'] = () => {
{{ guide.contentJavascript|raw }}
}{% endset %}
    {% js guideJs at beginBody %}
  {% endif %}
{% endfor %}

{# Hide Web Components until defined. #}
{% set webComponentCss %}
:is(guide-display, guide-ui-element, guide-welcome):not(:defined) {
  display: none;
}
{% endset %}
{% css webComponentCss %}