{# /**
 * Guide plugin for Craft CMS
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2021 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     3.0.0
 */ #}

{#
  Display Areas:
  elementEdit: An asset, category, entry, or user edit page
  guide: The Guide CP homepage
  page: An individual guide page
  widget: A Dashboard widget
  uiElement: A UI element on an edit page
  uri: A guide added via URI
#}

{% set tMessages = {
  'guides': 'Guides'|t('guide'),
  'guideJsCallbackError': 'An error occured when firing the callback for a guide with the slug, "[slug]". Update the code in the guide’s JavaScript field.'|t('guide'),
} %}

{% if guides|length or (inlineEditorId ?? false) %}
  <div class="guide-display">
    <guide-display t-messages="{{ tMessages|json_encode }}">
      <div class="guides">
        {% for guide in guides %}
          <section data-guide-slug="{{ guide.slug }}" class="guide guide-{{ guide.slug}} visually-hidden">
            {% if guide.contentSource == 'field' and guide.renderMarkdown %}
              {{ include('guide/_partials/render_content', { guide: guide })|md('gfm') }}
            {% else %}
              {{ include('guide/_partials/render_content', { guide: guide }) }}
            {% endif %}
          </section>
        {% endfor %}
      </div>
    </guide-display>
  </div>
{% endif %}
