{% if guides|length %}
  {% for guide in guides %}
    <div data-guide-move="{{ guide.id }}">
      {% include 'guide/_partials/guide_display.twig' with {
        guideDisplayArea: 'uri',
        guides: [guide],
      } only %}
    </div>
  {% endfor %}

  {% set moveJs %}
    {% for key in moveMap|keys %}
      {% set ids = key|split('-') %}
const guideMove{{ ids[0] }}TargetElement = document.querySelector('{{ moveMap[key] }}');
const guideMove{{ ids[0] }}GuideElement = document.querySelector('[data-guide-move="{{ ids[1] }}"]');
if (guideMove{{ ids[0] }}TargetElement && guideMove{{ ids[0] }}GuideElement) {
  guideMove{{ ids[0] }}TargetElement.append(guideMove{{ ids[0] }}GuideElement);
}
    {% endfor %}
  {% endset %}
  {% js moveJs on load %}
{% endif %}