{% apply spaceless %}{% if guide.contentSource == 'iframe' and (guide.contentUrl ?? false) %}
  <iframe class="g-iframe" src="{{ guide.contentUrl }}"></iframe>
{% else %}
  {% if guide.contentSource == 'template' and (guide.template ?? false) %}
    {% if guide.template starts with 'guide/' %}
      {{ craft.guide.render(guide.template, guide.slug, _context, 'path')|raw }}
    {% elseif craft.app.view.resolveTemplate('guide_template_path/' ~ guide.template) %}
      {{ craft.guide.render('guide_template_path/' ~ guide.template, guide.slug, _context, 'path')|raw }}
    {% else %}
      <p>{{ 'This guide seems to have moved.'|t('guide') }}</p>
      <a class="btn submit" href="{{ url('guide/organizer') }}">{{ 'Return to Organizer'|t('guide') }}</a>
    {% endif %}
  {% elseif guide.content ?? false %}
    {{ craft.guide.render(guide.content, guide.slug, _context, 'string')|raw }}
  {% else %}
    <p>{{ 'This guide seems to have moved.'|t('guide') }}</p>
    <a class="btn submit" href="{{ url('guide') }}">{{ 'Return to CMS Guide'|t('guide') }}</a>
  {% endif %}
{% endif %}{% endapply %}