{% if guide.contentSource == 'iframe' and (guide.contentUrl ?? false) %}
  <iframe class="guide_content__iframe" src="{{ guide.contentUrl }}" frameborder="0"></iframe>
{% else %}
  {% if guide.contentSource == 'template' and (guide.template ?? false) %}
    {% if craft.app.view.resolveTemplate('guide_template_path/' ~ guide.template) %}
      {{ include('guide_template_path/' ~ guide.template) }}
    {% else %}
      <p>This guide seems to have moved.</p>
      <a class="btn submit" href="{{ url('guide/organizer') }}">Return to Organizer</a>
    {% endif %}
  {% elseif guide.content ?? false %}
    {{ include(template_from_string(guide.content)) }}
  {% else %}
    <p>This guide seems to have moved.</p>
    <a class="btn submit" href="{{ url('guide/organizer') }}">Return to Organizer</a>
  {% endif %}
{% endif %}