{% if element ?? false %}
  {% set elementId = element.id %}
{% endif %}

{% if group ?? false %}
  {% set groupHandle = group %}
{% endif %}

<guide-slideout-button {{ docs ? 'docs-page' : '' }} {{ elementId ?? false ? 'element-id=' ~ elementId : '' }} {{ groupHandle ?? false ? 'group-handle=' ~ groupHandle : '' }} page-slug="{{ slug }}">
  <button class="btn" type="button">{{ svg('@wbrowar/guide/icon-mask.svg')|raw }}<span>{{ label }}</span></button>
</guide-slideout-button>