{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{# The title of this CP section #}
{% set title = "CMS Guide"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'home' %}

{% if cpNavPlacements ?? false %}
  {% set guides = craft.guide.getAll({ id: cpNavPlacements }) %}
{% endif %}

{% block footer %}
  {% if settings.fun %}
    <div class="guide-book-binding"><guide-book style="margin-inline: auto;"></guide-book></div>

    {% if hmrUrl ?? false %}
      {% js (hmrUrl ~ 'guide-book.ts') with {
        type: 'module'
      } %}
    {% else %}
      {% do view.registerAssetBundle("wbrowar\\guide\\web\\assets\\GuideBookAsset") %}
    {% endif %}
  {% endif %}
{% endblock %}

{% set content %}
  {% if guides ?? false %}
    {% include 'guide/_partials/guide_display.twig' with { guideDisplayArea: 'guide', displayId: 'nav', guides: guides } only %}
  {% else %}
    {% if settings.fun %}
      {% set tMessages = {
        'play': 'Play animation'|t('guide'),
        'pause': 'Pause animation'|t('guide'),
      } %}

      <guide-welcome t-messages="{{ tMessages|json_encode }}">
        <div class="guide-tab-icon-play" style="width: 16px; height: 16px;" slot="play-icon">{{ svg('@appicons/play.svg')|raw }}</div>
        <div class="guide-tab-icon-pause" style="width: 16px; height: 16px;" slot="pause-icon">{{ svg('@appicons/square.svg')|raw }}</div>
      </guide-welcome>
    {% endif %}

    <div class="readable">
      <p>{{ 'Welcome to Guide! To get started you can head to <a href="{settingsUrl}">Settings</a> and configure a few things there. You can then use the <a href="{listUrl}">Guides</a> page to create your guides and then use the <a href="{organizerUrl}">Organizer</a> to move them around Craft CMS’s Control Panel.'|t('guide', {
          listUrl: cpUrl('guide/list'),
          organizerUrl: cpUrl('guide/organizer'),
          settingsUrl: cpUrl('guide/settings'),
        })|raw }}</p>
      <a class="go" href="{{ cpUrl('guide/settings') }}">{{ 'Set up Guide'|t('guide') }}</a>
    </div>

    {% if settings.fun %}
      {% if hmrUrl ?? false %}
        {% js (hmrUrl ~ 'guide-welcome.ts') with {
          type: 'module'
        } %}
      {% else %}
        {% do view.registerAssetBundle("wbrowar\\guide\\web\\assets\\GuideWelcomeAsset") %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endset %}
