{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}

{% set guide = (slug ?? false) ? craft.guide.getOne({ slug: slug }) : craft.guide.getAll({}, 'new') %}

{% if not (guide.slug ?? false) %}
    {% redirect 'guide' %}
{% endif %}

{# The title of this CP section #}
{% set title = guide.title ?? "Guide" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('guide') %}

{% set bodyClass = 'guide_page guide_page--' ~ (guide.contentSource ?? 'field') ~ ' guide_styles' %}

{#{% block pageTitle %}#}
{#    {% include 'guide/_partials/guide_header.twig' with {#}
{#        settings: settings,#}
{#        title: title,#}
{#    } only %}#}
{#{% endblock %}#}

{% block actionButton %}
    <div class="buttons">
        {% if userOperations.editGuides %}
            <a class="btn edit icon" href="{{ url('guide/edit/' ~ guide.id, 'return=' ~ craft.app.request.url) }}">Edit Guide</a>
        {% endif %}
        {% if userOperations.deleteGuides %}
            <a class="btn delete icon" href="{{ url('guide/delete/' ~ guide.id, 'return=' ~ craft.app.request.url) }}">Delete Guide</a>
        {% endif %}
    </div>
{% endblock %}

{#{% if (organizer.cpNav ?? false) %}#}
{#    {% set cpNav = organizer.cpNav|json_decode %}#}
{#    {% set navGuides = craft.guide.getAllForUser({ id: cpNav }) %}#}

{#    {% set sidebar %}#}
{#        {% if (navGuides ?? false) %}#}
{#            <nav class="guide_page__sidebar__nav">#}
{#                <ul>#}
{#                    {% for id in cpNav %}#}
{#                        {% for item in navGuides %}#}
{#                            {% if item.id == id %}#}
{#                                {% set currentPage = guide.slug == item.slug %}#}

{#                                <li>#}
{#                                    <a{% if currentPage %} class="sel"{% endif %} href="{{ url('guide/page/' ~ item.slug) }}"{% if item.summary %} title="{{ item.summary }}"{% endif %}>{{ item.title }}</a>#}
{#                                    {% if currentPage %}#}
{#                                        {% if guide.contentSource == 'iframe' and (guide.contentUrl) %}#}
{#                                            <button class="guide_page__sidebar__button guide_page__sidebar__button--iframe" onclick="window.open('{{ guide.contentUrl }}', '_blank')">Open in New Tab</button>#}
{#                                        {% else %}#}
{#                                            <nav data-guide-page-nav v-cloak>#}
{#                                                <button class="guide_page__sidebar__button" :class="'guide_page__sidebar__button--' + item.level" @click="navItemClicked(index === 0 ? 'first' : item.slug)" v-for="(item, index) in nav" v-if="nav.length > 0">${ item.title }</button>#}
{#                                            </nav>#}
{#                                        {% endif %}#}
{#                                    {% endif %}#}
{#                                </li>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </nav>#}
{#        {% endif %}#}
{#    {% endset %}#}
{#{% endif %}#}

{% set content %}
  {{ include('guide/_partials/display_guide.twig', { displayId: 'page', guides: [guide] }) }}
{% endset %}