{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if not craft.app.config.general.allowAdminChanges %}
  {% redirect 'guide' %}
{% endif %}

{# The title of this CP section #}
{% set title = "Guide Settings" %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'settings' %}

{# {% set selectedTab = 'ho' %} #}
{% set tabs = {
  'general': { label: 'General', url: 'general' },
  'variables': { label: 'Variables', url: 'variables' },
} %}

{% set fullPageForm = true %}

{% block actionButton %}
  <input class="btn submit" type="submit" value="Save">
{% endblock %}

{% set content %}
  {% import _self as self %}

  <input type="hidden" name="action" value="guide/settings">
  <input type="hidden" name="page" value="{{ selectedTab }}">

  {% switch selectedTab %}
  {% case 'general' %}
    {{ forms.textField({
      label: 'Template Path',
      id: 'templatePath',
      name: 'templatePath',
      required: true,
      value: settings.templatePath,
      instructions: 'A path inside of the **templates** directory where Guide will look for templates.',
    }) }}

    {% set volumes = craft.app.volumes.allVolumes %}
    {% set options = [{ label: 'Select One', value: 0 }] %}
    {% for item in volumes %}
      {% set options = options|merge([{ label: item.name, value: item.uid }]) %}
    {% endfor %}

    {{ forms.selectField({
      label: 'Asset Volume',
      id: 'assetVolume',
      name: 'assetVolume',
      options: options,
      required: true,
      value: settings.assetVolume,
      instructions: 'An asset volume that stores all images and videos used in guides.',
    }) }}

    {% if settings.assetVolume == '0' %}
      <p>An asset volume is required to view guides. Please create a new volume and select it here.</p>
      <p>
        <a class="btn icon add" href="{{ url('settings/assets/volumes/new') }}">Create a New Volume</a>
      </p>
    {% endif %}

    {% set options = [
      { label: 'Above edit fields', value: 'prepend' },
      { label: 'Below edit fields', value: 'append' },
    ] %}
{#{% dd settings %}#}
    {{ forms.selectField({
      label: 'Edit Page Guide Location',
      id: 'defaultTeleportMethod',
      name: 'defaultTeleportMethod',
      options: options,
      required: true,
      value: settings.defaultTeleportMethod,
      instructions: 'Determine if guides should appear above or below content editing fields on element edit pages.',
    }) }}
  {% case 'variables' %}
    {% set classicCompanies = shuffle([
      'Acme Company, LLC',
      'Cyberdyne Systems',
      'Genco Pura Olive Oil Company',
      'Shelby Company Limited',
      'Sterling Cooper Draper Price',
      'Weyland Corporation',
      'Wayne Enterprises',
    ]) %}

    {{ forms.textField({
      label: 'Project Name',
      id: 'projectName',
      name: 'projectName',
      value: settings.projectName,
      instructions: 'The name of the project. Twig tag: **{{ craft.guide.var("projectName") }}**',
      placeholder: classicCompanies|last ~ '’s Website'
    }) }}

    {{ forms.textField({
      label: 'Client Name',
      id: 'clientName',
      name: 'clientName',
      value: settings.clientName,
      instructions: 'The name of the person or organization that the website is built for. Twig tag: **{{ craft.guide.var("clientName") }}**',
      placeholder: classicCompanies|last
    }) }}

    {% set classicCompaniesLast = classicCompanies|last %}
    {% set classicCompanies = classicCompanies|without(classicCompaniesLast) %}
    {{ forms.textField({
      label: 'My Company Name',
      id: 'myCompanyName',
      name: 'myCompanyName',
      value: settings.myCompanyName,
      instructions: 'The name of the person or organization that built the website. Twig tag: **{{ craft.guide.var("myCompanyName") }}**',
      placeholder: classicCompanies|last
    }) }}
  {% endswitch %}

  {% if not proEdition and currentUser.admin %}
    <div class="guide_styles">
      <div class="c_tip">
        <div class="c_tip__header">Thanks for using the LITE edition of Guide!</div>
        <div class="c_tip__content">
          <p>The PRO edition of Guide offers an easy to use, drag-and-drop editor letting you and your content authors collaborate by making guides in the CP. You can also embed external docs, customize the look and feel, and display guides on content edit pages and in dashboard widgets.</p>
          <p>
            <a class="btn small submit" href="{{ url('plugin-store/guide') }}">Check out Guide PRO in the Plugin Store</a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}
{% endset %}