{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("wbrowar\\guide\\assetbundles\\guide\\GuideAsset") %}
{% set iconUrl = view.getAssetManager().getPublishedPath('@wbrowar/guide/assetbundles/guide/dist', true) ~ '/icon/guide-mask.svg' %}

<h2>Features</h2>
<p>Enable or disable plugin features, altogether. More settings for each feature may be found below.</p>

<br>

<div class="guide__settings__grid guide__settings__grid--4">
    <div>
        {{ forms.lightswitchField({
            label: 'User Guides',
            id: 'enableAllUserGuides',
            name: 'enableAllUserGuides',
            on: settings.enableAllUserGuides,
        }) }}
        <p>Guides that can be edited by users logged into the CP. User Guides appear on entry edit pages and in the Guide CP section.</p>
    </div>
    <div>
        {{ forms.lightswitchField({
            label: 'Email Support',
            id: 'enableAllEmailSupport',
            name: 'enableAllEmailSupport',
            on: settings.enableAllEmailSupport,
        }) }}
        <p>A widget that provides a private contact form, letting content editors notify their support contact of issues they run into while updating their website.</p>
    </div>
    <div>
        {{ forms.lightswitchField({
            label: 'Website Updates',
            id: 'enableAllWebsiteUpdates',
            name: 'enableAllWebsiteUpdates',
            on: settings.enableAllWebsiteUpdates,
        }) }}
        <p>A widget that allows admins to communicate major changes in how the CMS functions. It‘s like a changelog for content editors.</p>
    </div>
    <div>
        {{ forms.lightswitchField({
            label: 'Welcome Widget',
            id: 'enableAllWelcomeWidget',
            name: 'enableAllWelcomeWidget',
            on: settings.enableAllWelcomeWidget,
        }) }}
        <p>Welcome content editors with a widget that shares the same content with any all users who have the widget installed.</p>
    </div>
</div>


<hr>


<h2 id="guide-section-guide-cp-section">Guide CP Section</h2>
{{ forms.textField({
    label: 'Template Path',
    id: 'guideTemplatePath',
    name: 'guideTemplatePath',
    value: settings.guideTemplatePath,
    instructions: 'Path to Guide Twig templates relative to your site\'s templates folder.'
}) }}

<h3>Navigation</h3>
<p><i>Navigation settings have been moved to the <a href="{{ url('guide/navigation') }}">Guide CP section.</a></i></p>


<hr>


<h2>Template Variables</h2>
{{ forms.textField({
    label: 'Client Name',
    id: 'clientName',
    name: 'clientName',
    value: settings.clientName,
    instructions: 'The name of the person or organization that the website is built for. This can be displayed in your templates by using Twig tag: `{{ guideVar("clientName") }}`',
    placeholder: 'Acme Company, LLC'
}) }}
{{ forms.textField({
    label: 'My Company Name',
    id: 'myCompanyName',
    name: 'myCompanyName',
    value: settings.myCompanyName,
    instructions: 'The name of the person or organization that built the website: `{{ guideVar("myCompanyName") }}`',
    placeholder: 'Shelby Company Limited'
}) }}
{{ forms.editableTableField({
    label: 'Custom Variables',
    id: 'customVars',
    name: 'customVars',
    minRows: 0,
    addRowLabel: 'Add a variable',
    instructions: 'Store custom variables that can be accessed in Twig by using `{{ guideVar("REPLACE_WITH_KEY") }}`',
    cols: {
        varKey: {
            heading: 'Key',
            type: 'singleline',
        },
        varValue: {
            heading: 'Value',
            type: 'singleline',
        },
        varType: {
            heading: 'Type',
            type: 'select',
            options: {
                string: 'String',
                password: 'String (Encrypted)',
            }
        },
    },
    rows: settings.customVars ?? ['','',''],
}) }}


<hr>


<h2>User Guides</h2>
{{ forms.selectField({
    label: 'Who can edit guides?',
    id: 'userGuidesEditableBy',
    name: 'userGuidesEditableBy',
    value: settings.userGuidesEditableBy,
    options: [
        { label: 'Admins', value: 'admin' },
        { label: 'Users with Guide permissions + Admins', value: 'permission' },
        { label: 'Anyone who can access CP', value: 'all' },
    ]
}) }}


<hr>


<h2>Email Support</h2>
{{ forms.lightswitchField({
    label: 'Email Support Form',
    id: 'enableEmailSupportForm',
    name: 'enableEmailSupportForm',
    instructions: 'Enables display and functionality of the form in the Email Support widget',
    on: settings.enableEmailSupportForm ?? false ? settings.enableEmailSupportForm : false,
}) }}
{{ forms.editableTableField({
    label: 'Support Contacts',
    id: 'emailSupportContacts',
    name: 'emailSupportContacts',
    minRows: 0,
    addRowLabel: 'Add a contact',
    instructions: 'Contact information used in the Email Support widget',
    cols: {
        email: {
            heading: 'Email Address',
            type: 'singleline',
            placeholder: '(required)',
        },
        name: {
            heading: 'Name',
            type: 'singleline',
            placeholder: '(required)',
        },
        jobTitle: {
            heading: 'Job Title',
            type: 'singleline',
        },
        phone: {
            heading: 'Phone Number',
            type: 'singleline',
            placeholder: '(tel URL format: +15551234567)',
        },
    },
    rows: settings.emailSupportContacts ?? ['','','', ''],
}) }}


<hr>


<div id="guide__demo__css"></div>
<div class="guide__demo">
    <div class="guide__demo__header">
        <div class="guide_logo_lockup guide_logo_lockup--35">
            <div>{{ svg(iconUrl) }}</div>
            <div>
                <h1>Custom Styles</h1>
            </div>
        </div>
        {#<a class="guide_button btn" href="https://github.com/wbrowar/craft-3-guide#css-variables">More info</a>#}
    </div>
    <div class="guide__demo__text guide_text">
        <div class="guide_grid guide_grid--2_column">
            <div>
                <img src="http://via.placeholder.com/900x450" alt="Placeolder image">
            </div>
            <div>
                <h2>Theme Demo</h2>
                <p>Guide uses <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/--*">CSS Custom Properties</a> to help you rebrand and theme guides used throughout <i>Craft CMS's CP</i>. Change these <b>CSS Custom Properties</b> or write your own custom <span class="guide_code_inline">CSS</span> in the textarea below.</p>
                <a class="guide_button btn" href="https://github.com/wbrowar/craft-3-guide#css-variables">More info</a>
            </div>
        </div>
    </div>
</div>

{{ forms.textareaField({
    label: 'Custom CSS',
    id: 'customCss',
    name: 'customCss',
    rows: 10,
    value: settings.customCss,
    placeholder: ':root {\n  --guide-color-code-bg: #ddd;\n  --guide-color-text: #c0c;\n}'
}) }}

{% set guideVariables = [
    ['<b>--guide-bg</b>: var(--guide-color-bg);', 'Background for guide containers. This is used as shorthand for the CSS `background` property.'],
    ['<b>--guide-border-radius</b>: 5px;', 'Rounds the corners of guide containers.'],
    ['<b>--guide-border-radius-media</b>: 3px;', 'Rounds the corners of <i>canvas, img, picture,</i> and <i>video</i> tags.'],
    ['<b>--guide-color-bg</b>: rgba(0, 0, 0, .8);', 'Background for guide containers.'],
    ['<b>--guide-color-border</b>: rgb(200, 200, 200);', 'Color of border placed around <i>canvas, img, picture,</i> and <i>video</i> tags.'],
    ['<b>--guide-color-button-bg</b>: var(--guide-color-bg);', 'Background color of <i>.guide_button</i> elements.'],
    ['<b>--guide-color-code-bg</b>: rgba(60, 60, 60, .1);', 'Background color used to highlight code examples.'],
    ['<b>--guide-color-h1</b>: var(--guide-color-text);', 'Color of h1 tags in Guide containers.'],
    ['<b>--guide-color-link</b>: rgb(219, 81, 61);', 'Color of links in Guide containers.'],
    ['<b>--guide-color-link-hover</b>: rgb(186, 78, 58);', 'Color of links and buttons when in the :hover state.'],
    ['<b>--guide-color-link-active</b>: rgb(123, 51, 36);', 'Color of links and buttons when in the :active state.'],
    ['<b>--guide-color-text</b>: rgb(255, 255, 255);', 'Color of text in Guide containers.'],
    ['<b>--guide-max-width</b>: 1100px;', 'Max width of Guide CP sections pages.'],
] %}
<div style="display: grid; grid-template-columns: minmax(100px, 350px) auto; grid-template-rows: auto; grid-gap: 5px 30px;">
    {% for item in guideVariables %}
        <div>{{ item[0]|raw }}</div>
        <div>{{ item[1]|raw }}</div>
    {% endfor %}
</div>


<hr>


{{ forms.lightswitchField({
    label: 'Show Guide 2.0 Warnings',
    id: 'guideTwoWarnings',
    name: 'guideTwoWarnings',
    instructions: 'These messages are only shown to Admin users, but they can be hidden with this setting.',
    on: settings.guideTwoWarnings,
}) }}