{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if not craft.app.config.general.allowAdminChanges %}
  {% redirect 'guide' %}
{% endif %}

{# The title of this CP section #}
{% set title = 'Guide Settings'|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'settings' %}

{# {% set selectedTab = 'ho' %} #}
{% set tabs = {
  'general': { label: 'General', url: 'general' },
  'variables': { label: 'Variables', url: 'variables' },
} %}

{% set fullPageForm = true %}

{% block actionButton %}
  <input class="btn submit" type="submit" value="Save">
{% endblock %}

{% set content %}
  {% import _self as self %}

  <input type="hidden" name="action" value="guide/settings">
  <input type="hidden" name="page" value="{{ selectedTab }}">

  {% switch selectedTab %}
  {% case 'general' %}
    {{ forms.textField({
      label: 'PLUGIN_SETTINGS_FIELD_TEMPLATE_PATH_LABEL'|t('guide'),
      id: 'templatePath',
      name: 'templatePath',
      required: true,
      value: settings.templatePath,
      instructions: 'PLUGIN_SETTINGS_FIELD_TEMPLATE_PATH_INSTRUCTIONS'|t('guide'),
    }) }}

    {% set volumes = craft.app.volumes.allVolumes %}
    {% set options = [{ label: 'Select One', value: 0 }] %}
    {% for item in volumes %}
      {% set options = options|merge([{ label: item.name, value: item.uid }]) %}
    {% endfor %}

    {{ forms.selectField({
      label: 'PLUGIN_SETTINGS_FIELD_ASSET_VOLUME_LABEL'|t('guide'),
      id: 'assetVolume',
      name: 'assetVolume',
      options: options,
      required: true,
      value: settings.assetVolume,
      instructions: 'PLUGIN_SETTINGS_FIELD_ASSET_VOLUME_INSTRUCTIONS'|t('guide'),
    }) }}

    {% if settings.assetVolume == '0' %}
      <p>{{ 'PLUGIN_SETTINGS_ASSET_VOLUME_REQUIRED'|t('guide') }}</p>
      <p>
        <a class="btn icon add" href="{{ url('settings/assets/volumes/new') }}">{{ 'Create a New Volume'|t('guide') }}</a>
      </p>
    {% endif %}

    {% if proEdition %}
      {% set options = [
        { label: 'PLUGIN_SETTINGS_FIELD_DEFAULT_TELEPORT_METHOD_OPTION_SLIDEOUT'|t('guide'), value: 'slideout' },
        { label: 'PLUGIN_SETTINGS_FIELD_DEFAULT_TELEPORT_METHOD_OPTION_PREPEND'|t('guide'), value: 'prepend' },
        { label: 'PLUGIN_SETTINGS_FIELD_DEFAULT_TELEPORT_METHOD_OPTION_APPEND'|t('guide'), value: 'append' },
      ] %}
      {{ forms.selectField({
        label: 'PLUGIN_SETTINGS_FIELD_DEFAULT_TELEPORT_METHOD_LABEL'|t('guide'),
        id: 'editPageTeleportTarget',
        name: 'editPageTeleportTarget',
        options: options,
        required: true,
        value: settings.editPageTeleportTarget,
        instructions: 'PLUGIN_SETTINGS_FIELD_DEFAULT_TELEPORT_METHOD_INSTRUCTIONS'|t('guide'),
      }) }}
    {% else %}
      <input type="hidden" name="editPageTeleportTarget" value="slideout">
    {% endif %}
  {% case 'variables' %}
    {% set classicCompanies = shuffle([
      'Happy Lager',
      'The Museum of Euro Art',
      'Pixel & Tonic',
      'Spoke & Chain',
    ]) %}

    {{ forms.textField({
      label: 'PLUGIN_SETTINGS_FIELD_PROJECT_NAME_LABEL'|t('guide'),
      id: 'projectName',
      name: 'projectName',
      value: settings.projectName,
      instructions: 'PLUGIN_SETTINGS_FIELD_PROJECT_NAME_INSTRUCTIONS'|t('guide'),
      placeholder: classicCompanies|last ~ '’s Website'
    }) }}

    {{ forms.textField({
      label: 'PLUGIN_SETTINGS_FIELD_CLIENT_NAME_LABEL'|t('guide'),
      id: 'clientName',
      name: 'clientName',
      value: settings.clientName,
      instructions: 'PLUGIN_SETTINGS_FIELD_CLIENT_NAME_INSTRUCTIONS'|t('guide'),
      placeholder: classicCompanies|last
    }) }}

    {% set classicCompaniesLast = classicCompanies|last %}
    {% set classicCompanies = classicCompanies|without(classicCompaniesLast) %}
    {{ forms.textField({
      label: 'PLUGIN_SETTINGS_FIELD_MY_COMPANY_NAME_LABEL'|t('guide'),
      id: 'myCompanyName',
      name: 'myCompanyName',
      value: settings.myCompanyName,
      instructions: 'PLUGIN_SETTINGS_FIELD_MY_COMPANY_NAME_INSTRUCTIONS'|t('guide'),
      placeholder: classicCompanies|last
    }) }}
  {% endswitch %}

  {% if not proEdition and currentUser.admin %}
    <hr>
    <div class="readable">
      <blockquote class="note tip">
        <strong>{{ 'PLUGIN_SETTINGS_GUIDE_PRO_1'|t('guide') }}</strong>
        <p>{{ 'PLUGIN_SETTINGS_GUIDE_PRO_2'|t('guide') }}</p>
        <p>
          <a class="btn submit" href="{{ url('plugin-store/guide') }}">{{ 'PLUGIN_SETTINGS_GUIDE_PRO_3'|t('guide') }}</a>
        </p>
      </blockquote>
    </div>
  {% endif %}
{% endset %}