{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if not craft.app.config.general.allowAdminChanges %}
  {% redirect 'guide' %}
{% endif %}

{# The title of this CP section #}
{% set title = "Guide Settings"|t('guide') %}

{# The selected CP subnav item #}
{% set selectedSubnavItem = 'settings' %}

{% set tabs = {
  "general": {label: "General"|t('guide'), url: "#general"},
} %}
{% if proEdition %}
  {% set tabs = tabs|merge({
    "editing": {label: "Editing"|t('guide'), url: "#editing"},
  }) %}
{% endif %}
{% set tabs = tabs|merge({
  "variables": {label: "Variables"|t('guide'), url: "#variables"},
}) %}

{% set fullPageForm = true %}

{% block actionButton %}
  <input class="btn submit" type="submit" value="Save">
{% endblock %}

{% set content %}
  {% import _self as self %}

  <input type="hidden" name="action" value="guide/settings">

  <div id="general">
    {{ forms.textField({
      label: 'Template Path'|t('guide'),
      id: 'templatePath',
      name: 'templatePath',
      placeholder: '_guide',
      value: settings.templatePath,
      instructions: 'A path inside of the **templates** directory where Guide will look for templates.'|t('guide'),
    }) }}

    {% set volumes = craft.app.volumes.allVolumes %}
    {% set options = [{ label: 'Select A Volume'|t('guide'), value: '' }] %}
    {% for item in volumes %}
      {% set options = options|merge([{ label: item.name, value: item.uid }]) %}
    {% endfor %}

    {{ forms.selectField({
      label: 'Asset Volume'|t('guide'),
      id: 'assetVolume',
      name: 'assetVolume',
      options: options,
      value: settings.assetVolume,
      instructions: 'An asset volume that stores all images and videos used in guides.'|t('guide'),
    }) }}

    {% if settings.assetVolume == '' %}
      <p>
        <a class="go" href="{{ url('settings/assets/volumes/new') }}">{{ 'Create a New Volume'|t('guide') }}</a>
      </p>
    {% endif %}
  </div>

  {% if proEdition %}
    <div id="editing" class="hidden">
      {{ forms.lightswitchField({
        label: 'Render Markdown Default'|t('guide'),
        id: 'renderMarkdownDefault',
        name: 'renderMarkdownDefault',
        on: settings.renderMarkdownDefault,
        instructions: 'The default value of the Render Markdown field in the Guide Editor. This can be overridden on a per-guide basis.'|t('guide'),
      }) }}

      {{ forms.lightswitchField({
        label: 'Enable CSS Field'|t('guide'),
        id: 'enableGuideCss',
        name: 'enableGuideCss',
        options: options,
        on: settings.enableGuideCss,
        instructions: 'Enable CSS field to appear in the Guide Editor.'|t('guide'),
      }) }}

      {{ forms.lightswitchField({
        label: 'Enable JavaScript Field'|t('guide'),
        id: 'enableGuideJavascript',
        name: 'enableGuideJavascript',
        options: options,
        on: settings.enableGuideJavascript,
        instructions: 'Enable JavaScript field to appear in the Guide Editor.'|t('guide'),
      }) }}

      {% set options = [
        { label: 'Slideout (opened by a button in the sidebar)'|t('guide'), value: 'slideout' },
        { label: 'Above edit fields'|t('guide'), value: 'prepend' },
        { label: 'Below edit fields'|t('guide'), value: 'append' },
      ] %}
      {{ forms.selectField({
        label: 'Edit Page Guide Location'|t('guide'),
        id: 'editPageLocation',
        name: 'editPageLocation',
        options: options,
        value: settings.editPageLocation,
        instructions: 'Determine where guides should be displayed on element edit pages.'|t('guide'),
      }) }}
    </div>
  {% else %}
    <input type="hidden" name="renderMarkdownDefault" value="0">
    <input type="hidden" name="enableGuideCss" value="0">
    <input type="hidden" name="enableGuideJavascript" value="0">
    <input type="hidden" name="editPageLocation" value="slideout">
  {% endif %}

  <div id="variables" class="hidden">
    {% set classicCompanies = shuffle([
      'Happy Lager',
      'The Museum of Euro Art',
      'Pixel & Tonic',
      'Spoke & Chain',
    ]) %}

    {{ forms.textField({
      label: 'Project Name'|t('guide'),
      id: 'projectName',
      name: 'projectName',
      value: settings.projectName,
      instructions: 'The name of the project. Twig tag:'|t('guide') ~ ' <strong class="guide-select-string">{{ craft.guide.var("projectName") }}</strong>',
      placeholder: classicCompanies|last ~ '’s Website'
    }) }}

    {{ forms.textField({
      label: 'Client Name'|t('guide'),
      id: 'clientName',
      name: 'clientName',
      value: settings.clientName,
      instructions: 'The name of the person or organization that the website is built for. Twig tag:'|t('guide') ~ ' <strong class="guide-select-string">{{ craft.guide.var("clientName") }}</strong>',
      placeholder: classicCompanies|last
    }) }}

    {% set classicCompaniesLast = classicCompanies|last %}
    {% set classicCompanies = classicCompanies|without(classicCompaniesLast) %}
    {{ forms.textField({
      label: 'My Company Name'|t('guide'),
      id: 'myCompanyName',
      name: 'myCompanyName',
      value: settings.myCompanyName,
      instructions: 'The name of the person or organization that built the website. Twig tag:'|t('guide') ~ ' <strong class="guide-select-string">{{ craft.guide.var("myCompanyName") }}</strong>',
      placeholder: classicCompanies|last
    }) }}
  </div>

  {% if not proEdition and currentUser.admin %}
    <hr>
    <div class="readable">
      <blockquote class="note tip">
        <strong>{{ 'Thanks for using the LITE edition of Guide!'|t('guide') }}</strong>
{#        <p>{{ 'The PRO edition of Guide offers a drag-and-drop editor that includes snippets and components, lets you display guides—and contextually useful information—on content edit pages or on any page within the Craft CP, and makes it easy to create standalone CP pages, widgets, and UI elements.'|t('guide') }}</p>#}
        <p>
          <a class="go" href="{{ url('plugin-store/guide') }}">{{ 'Check out Guide PRO in the Plugin Store'|t('guide') }}</a>
        </p>
      </blockquote>
    </div>
  {% endif %}
{% endset %}