{% extends 'guide/_partials/render_component.twig' %}

{% set element = 'figure' %}

{# Variables #}
{% set asset = asset ?? null %}
{% set caption = caption ?? null %}
{% set lightbox = lightbox ?? false %}
{% set placeholder = placeholder ?? (asset ?? false ? asset.url : '') %}
{% set sizes = sizes ?? '100vw' %}
{% set src = src ?? url ?? null %}

{% set alt = alt ?? image.title ?? '' %}
{% set transforms = transforms ?? [
  { mode: 'fit', quality: 90, width: 700 },
  { mode: 'fit', quality: 90, width: 1400 },
] %}

{% block content -%}
  {% import _self as self %}

  {% if asset ?? false or src ?? false %}
    <picture {% if asset ?? false and lightbox -%}@click="$refs['image-component-modal-{{ asset.id }}'].open()"{%- endif %}>
      {% if asset ?? false %}
        {% if transforms|length %}
          <img class="g-image" srcset="{{ self.getSrcSetFromObject({ image: asset, transforms: transforms }) }}" src="{{ placeholder }}" loading="lazy" width="{{ asset.width }}" height="{{ asset.height }}" sizes="{{ sizes }}" alt="{{ alt ?? asset.title }}" />
        {% else %}
          <img class="g-image" src="{{ asset.url }}" loading="lazy" width="{{ asset.width }}" height="{{ asset.height }}" alt="{{ alt ?? asset.title }}" />
        {% endif %}
      {% elseif src ?? false %}
        <img class="g-image" src="{{ src }}" loading="lazy" alt="{{ alt }}" />
      {% endif %}
    </picture>
    {% if caption ?? false -%}
      <figcaption class="{{ rootClass }}__caption">{{ caption }}</figcaption>
    {%- endif %}
    {% if asset ?? false and lightbox -%}
      <guide-modal ref="image-component-modal-{{ asset.id }}" click-outside-to-close aspect-ratio="{{ asset.width }} / {{ asset.height }}" max-height="{{ asset.width }}px" max-width="{{ asset.height }}px" teleport-to="body">
        <img class="g-image" src="{{ asset.url }}" loading="lazy" width="{{ asset.width }}" height="{{ asset.height }}" alt="{{ alt ?? asset.title }}" />
      </guide-modal>
    {%- endif %}
  {% else %}
    <div class="fpo" style="padding: 30% 0;">
      <p style="text-align: center;">An asset is missing. Update your guide template with a valid asset or image URL.</p>
    </div>
  {%- endif %}
{%- endblock %}

{% macro getSrcSetFromObject(options) %}{% apply spaceless %}
  {% set image = options.image ?? null %}
  {% set transforms = options.transforms ?? {} %}
  {% set suffix = options.suffix ?? null %}

  {% if (image ?? false) and (transforms|length) %}
    {% for transform in transforms %}{% if not loop.first %}, {% endif %}{{ image.getUrl(transform) }}{{ suffix }}{{ (transform.width ?? false) ? ' ' ~ transform.width ~ 'w' : '' }}{% endfor %}
  {% endif %}
{% endapply %}{% endmacro %}
