{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% if proEdition %}
  {% if guide ?? false %}
    {% include 'guide/_partials/guide_display.twig' with { guideDisplayArea: 'widget', displayId: 'widget-' ~ widgetId, guides: [guide], placeholderText: 'WIDGET_REFRESH_TO_SHOW'|t('guide') } only %}
  {% else %}
    <p>{{ 'WIDGET_GUIDE_MISSING'|t('guide') }}</p>
  {% endif %}
{% else %}
  <p>{{ 'WIDGET_PRO_UPGRADE_1'|t('guide') }} <a href="{{ url('plugin-store/guide') }}">{{ 'WIDGET_PRO_UPGRADE_2'|t('guide') }}</a> {{ 'WIDGET_PRO_UPGRADE_3'|t('guide') }}</p>
{% endif %}