{# /**
 * Guide plugin for Craft CMS
 *
 * Guide Widget Body
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     2.0.0
 */ #}

{% import "_includes/forms" as forms %}

{% set guideOptions = [] %}
{% if selectableGuides|length %}
  {% for item in selectableGuides %}
    {% set guideOptions = guideOptions|merge([{
      value: item.id,
      label: item.title,
    }]) %}
  {% endfor %}

  {{ forms.selectField({
    label: 'Guide'|t('guide'),
    id: 'guideId',
    name: 'guideId',
    options: guideOptions,
    required: true,
    value: widget.guideId,
  }) }}

  {{ forms.lightswitchField({
    label: 'WIDGET_SETTINGS_SHOW_TITLE_LABEL'|t('guide'),
    id: 'showTitle',
    name: 'showTitle',
    on: widget.showTitle,
  }) }}
{% else %}
  {{ 'WIDGET_SETTINGS_NO_GUIDES'|t('guide') }}{% if userOperations.useOrganizer %}
  <a href="{{ url('guide/organizer') }}">{{ 'WIDGET_SETTINGS_ENABLE_GUIDES'|t('guide') }}</a>{% endif %}
  <input type="hidden" name="guideId" value="0">
{% endif %}
