{# @var craft \craft\web\twig\variables\CraftVariable #}

{% set displayMatrix = true %}
{% set displayNeo = false %}
{% set displaySuperTable = false %}

<h1>Editing Content</h1>

<h2 data-guide-section>Entries</h2>
{{ guideAsset('guide-content-section-types.png') }}
<p>Craft stores your website&rsquo;s content in the <a href="{{ url('entries') }}">Entries</a> section of the CP. There are three types of sections that your entries can be stored as:</p>
<table>
    <tbody>
        <tr>
            <td><b>Singles</b></td>
            <td>One-off pages that have a specific purpose, require a specific URL, and often are displayed in their own unique page template. Singles can only be created by an Admin or a developer, but they can be edited by content editors.</td>
        </tr>
        <tr>
            <td><b>Channels</b></td>
            <td>Channels are used to create multiple entries that are grouped together by content type.</td>
        </tr>
        <tr>
            <td><b>Structures</b></td>
            <td>Structures can be used to create multiple entries that can be manually organized within a hierarchy.</td>
        </tr>
    </tbody>
</table>

<hr>

<h2 data-guide-section>Content Types</h2>
<p>Here are some examples of the various types of content found within your website:</p>

{% set contentTypes = [
    { title: 'Home', editUrl: 'entries/home/2-home', screenshot: 'guide-FPO.png' },
    { title: 'Basic Page', editUrl: 'entries/basicPage', screenshot: 'guide-FPO.png' },
] %}
<div class="guide_grid guide_grid--2_column">
    {% for item in contentTypes %}
        <div>
            <h3>{{ item.title ?? '' }}</h3>
            <a href="{{ url(item.editUrl ?? '') }}">{{ guideAsset(item.screenshot ?? false) }}</a>
        </div>
    {% endfor %}
</div>

<hr>

<div class="guide_grid guide_grid--image">
    <div>
        <h2 data-guide-section>Creating New Entries</h2>
        <p>Channel and Structure entries can be created from the Entries page by clicking on the "+&nbsp;New Entry" button in the top-right. If you&rsquo;re already within a Channel or Structure section, a new entry of that section type will be created. Alternatively, you may use the downward caret to the right of the "+&nbsp;New Entry" button to select the type of entry you will be creating.</p>
        <p>By selecting the new entrie&rsquo;s section, you&rsquo;ll be taken to the Create Entry page.</p>
    </div>
    {{ guideAsset('guide-content-new.png') }}
</div>

<div class="guide_grid guide_grid--2_column">
    <div>
        <h3 data-guide-section>Populating Fields</h3>
        <p>There are several different field types within Craft. Some fields are used for content entry, whereas others may be used to determine the layout of the page.</p>
        <p>If a field is required for a particular entry type, you must enter something into the field before you may publish the entry. If you are not ready to fill out all of the required fields, you may save the entry as a draft by selecting the caret next to the "Save" button and by clicking "Save as a draft". Note that by doing this, when previewing the entry, the page may appear broken until all required fields are populated.</p>
    </div>
    {{ guideAsset('guide-content-fields.png') }}
</div>

<h3 data-guide-section>Live Preview</h3>
<p>To get an idea as to how a page is starting to look as you begin to enter content into it, you may use the Live Preview feature in Craft. Live Preview updates as you type, helping you make layout and design decisions as your content is being created. To exit Live Preview, use the "Close Live Preview" button in the top-left.</p>

<hr>

<h2 data-guide-section>Content Blocks</h2>
<p>Some entry types allow for your content to be built in a modular fashion. Content blocks allow for multiple blocks of similar components&mdash;that can be mixed and matched&mdash;so you can create unique layouts for the type of content you are presenting to your audience.</p>

{% if displayMatrix %}
    <div class="guide_grid guide_grid--2_column">
        <div>
            <h3 data-guide-section>Matrix Fields</h3>
            <p>To create content within a matrix field, start by selecting the type of content block you would like to create. A new content block will appear and you will be presented with a set of fields that are specific to that block type. In this block there may be fields that are required for the block to be displayed properly.</p>
            <p>If you need to re-order a series of matrix blocks use the move icon (✜) in the top-right of the block to drag your content blocks up and down.</p>
        </div>
        {{ guideAsset('guide-content-matrix.png') }}
    </div>
    <p>Clicking on the gear in the top-right will allow you to perform bulk actions:</p>
    <table>
        <tbody>
            <tr>
                <td><b>Collapse</b></td>
                <td>Get large content blocks out of the way by collapsing them down. The content in these blocks will still appear on the page, and collapsing them only affect the how your content blocks look on the edit page. <i>NOTE: you can quickly collapse a content block by double-clicking the header of the matrix block.</i></td>
            </tr>
            <tr>
                <td><b>Disable</b></td>
                <td>Disabling a matrix block is useful in that if you don&rsquo;t want to delete a block of content but you would like to remove it from the page, disabling a block prevents the content from appearing on the page&mdash;while making it easy to bring back later.</td>
            </tr>
            <tr>
                <td><b>Delete</b></td>
                <td>Removed the content block and all of the content within it.</td>
            </tr>
        </tbody>
    </table>
    <p>Bulk actions can be applied to multiple content blocks at once by checking the box in the top-left corner of each content block before selecting the desired action.</p>
{% endif %}

{% if displayNeo %}
    <h3 data-guide-section>Neo Fields</h3>
    <p class="guide_fpo">Someone please contribute.</p>
{% endif %}

{% if displaySuperTable %}
    <h3 data-guide-section>Super Table Fields</h3>
    <p class="guide_fpo">Someone please contribute.</p>
{% endif %}

<hr>

<div class="guide_grid guide_grid--image">
    <div>
        <h2 data-guide-section>Publishing</h2>
        <p>An entry is published when the "Enabled" switch in the edit page sidebar is turned on. Depending on the section type, this sidebar can contain more publishing options.</p>
        <p>In Channel entries, you will find the following options:</p>
        <table>
            <tbody>
            <tr>
                <td><b>Slug</b></td>
                <td>The slug helps determine the URL of the entry. Each slug is unique and will be generated from the entry Title field, however you may manually change the slug if needed.</td>
            </tr>
            <tr>
                <td><b>Author</b></td>
                <td>The entry author affects the permissions for who may edit and publish the entry. The author is pulled from users within Craft.</td>
            </tr>
            <tr>
                <td><b>Post Date</b></td>
                <td>The Post Date of the entry helps when listing content in chronological order. Content can be scheduled for publishing by selecting a future date and time for the Post Date.</td>
            </tr>
            <tr>
                <td><b>Expiry Date</b></td>
                <td>You can schedule content to become unpublished by setting an Expiry Date.</td>
            </tr>
            <tr>
                <td><b>Notes about your changes</b></td>
                <td>All content types allow you to write a note about what had been changed in an update. This is useful for communicating to multiple team members who may work together to create and edit content.</td>
            </tr>
            </tbody>
        </table>
    </div>
    {{ guideAsset('guide-content-publishing.png') }}
</div>

<hr>


<div class="guide_grid guide_grid--image">
    <div>
        <h2 data-guide-section>Versioning</h2>
        <p>If enabled, Craft can keep past revisions of an entry so you may revert back to an older version when needed. To revert an entry back to a previous version follow these steps:</p>
        <ol>
            <li>To the right of the page title, click on the revision button. The past revisions of the entry will appear in a dropdown.</li>
            <li>Click on a past version. The fields in the entry will be populated with the content that was saved in that version.</li>
            <li>At this point you may want to use Live Preview to help confirm the old content still appears correctly. If not, make any necessary updates.</li>
            <li>When you are satisfied with your content, click the "Revert entry to this version" button to save the entry.</li>
        </ol>
    </div>
    {{ guideAsset('guide-content-versioning.png') }}
</div>

<div class="guide_grid guide_grid--image">
    <div>
        <h2 data-guide-section>Drafts</h2>
        <p>The revision button also displays drafts that have been saved for the entry. Drafts are useful for allowing you to save changes to an entry before the changes are ready to be published. To save a draft of an entry, use the down caret next to the "Save" button and select "Save as a draft".</p>
        <p>When you are ready to publish a draft, use the down caret next to the "Save draft" button to commit or delete the current draft.</p>
    </div>
    {{ guideAsset('guide-content-draft-save.png') }}
</div>