{# @var craft \craft\web\twig\variables\CraftVariable #}

{# Create the secondary navigation by editing this twig tag #}
{# This tag only needs to live on this page and should not be copied to any other pages #}
{% set cpNav = {
    'Guide Home': '_guide/index',
    'Editing Content': '_guide/content',
    'Working with Files': '_guide/assets',
    'Managing Users': { permissions: ['editUsers'], template: '_guide/users' },
    'Website Info': { admin: true, template: '_guide/info' },
} %}

{# Add plugin-specific guide pages. Reorder this menu in Guide plugin settings #}
{% if pluginEnabled('seomatic') %}
    {% set cpNav = cpNav|merge({
        'SEO': '_guide/seo'
    }) %}
{% endif %}

{{ updateGuideCpNav(cpNav) }}


<h1>CMS Guide</h1>

<p>{{ guideVar("clientName") }}&rsquo;s website was built using the Craft CMS content management system (CMS). While Craft makes content management easy and intuitive, this guide is here to help get you started and to answer a few questions you may have along the way.</p>

<hr>

<h2 data-guide-section>Dashboard</h2>
<div class="guide_grid guide_grid--2_column">
    <div>
        <p>The first thing you&rsquo;ll see when logging into Craft&rsquo;s Control Panel (CP) is the Dashboard. This page is home to helpful widgets that offer information about your website. The Dashboard is customizable for each user, so you may add, remove, and re-arrange the layout of the widgets you find most useful.</p>
    </div>
    {{ guideAsset('guide-index-dashboard.png') }}
</div>

{% if pluginEnabled('admin-bar') %}
    <hr>

    <h2 data-guide-section>Admin Bar</h2>

    <div class="guide_grid guide_grid--2_column">
        <div>
            <p>When logged in and visiting the front-end of the {{ guideVar("clientName") }} website, you&rsquo;ll see a shortcut bar along the top of the screen. Admin Bar helps you to quickly get back to the CP, to edit the current page, and to log out of the CMS.</p>
            <p>The links in Admin Bar can be customized, so if you find yourself frequenting a page in the CP, a shortcut to that page can be added in Admin Bar&rsquo;s settings.</p>
        </div>
        {{ guideAsset('guide-index-admin-bar.png') }}
    </div>
{% endif %}