{# @var craft \craft\web\twig\variables\CraftVariable #}

{% import _self as self %}

<h1>{{ guideVar("clientName") }} Website Information</h1>

{% if craft.app.licensedEdition > 0 %}
    <h2 data-guide-section>Billing Information</h2>
    <p>The license for <b>Craft {{ craft.app.licensedEditionName }}</b> was purchased on <b>{{ guideVar("FPO") }}</b>.</p>
    <p>The renewal date for your license is <b>{{ guideVar("FPO") }}</b>.</p>

    <hr>
{% endif %}


<h2 data-guide-section>Hosting Information</h2>

{# Using Linode as an example, here to populate the macro at the bottom of this template #}
{# Swap the information out for the actual server information here #}
{# For better security, password and other sensative info can be stored in Guide Plugin Settings as an encrypted string #}

<h3 data-guide-section>Server Hardware</h3>
<p>The company that owns the hardware that the {{ guideVar("clientName") }} website is hosted on.</p>
{{ self.passwordTable('Hosting Company', 'Linode', 'https://manager.linode.com', 'Linode Manager', 'username', guideVar("REPLACE_ME")) }}

{#

{{ self.passwordTable('Hosting Company', 'Arcustech', 'https://portal.arcustech.com', 'Account Portal', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Hosting Company', 'DigitalOcean', 'https://cloud.digitalocean.com/login', 'DigitalOcean Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Hosting Company', 'fortrabbit', 'https://dashboard.fortrabbit.com', 'fortrabbit Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Hosting Company', 'Linode', 'https://manager.linode.com', 'Linode Manager', 'username', guideVar("REPLACE_ME")) }}

#}

<h3 data-guide-section>Server Software</h3>
<p>The software that is used to manage the websites on the hosting server.</p>
{{ self.passwordTable('Service', 'Laravel Forge', 'https://forge.laravel.com/auth/login', 'Forge Login', 'username', guideVar("REPLACE_ME")) }}

{#

{{ self.passwordTable('Service', 'Laravel Forge', 'https://forge.laravel.com/auth/login', 'Forge Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Service', 'ServerPilot', 'https://manage.serverpilot.io', 'ServerPilot Login', 'username', guideVar("REPLACE_ME")) }}

#}

<h3 data-guide-section>Domain</h3>
<p>The company where your domain is registered and renewed.</p>
{{ self.passwordTable('Domain Registrar', 'Hover', 'https://www.hover.com/signin', 'Hover Login', 'username', guideVar("REPLACE_ME")) }}

{#

{{ self.passwordTable('Domain Registrar', 'GoDaddy', 'https://sso.godaddy.com/?realm=idp&path=%2Fproducts&app=account', 'My Account', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Domain Registrar', 'Hover', 'https://www.hover.com/signin', 'Hover Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Domain Registrar', 'Namecheap', 'https://www.namecheap.com', 'Namecheap', 'username', guideVar("REPLACE_ME")) }}

#}

<h2 data-guide-section>DNS</h2>
<p>The DNS is hosted with {{ guideVar("FPO") }}. The nameservers below are used to point the domain to your hosting server.</p>

<h4>Nameservers</h4>
<ul>
    <li>ns1.linode.com</li>
    <li>ns2.linode.com</li>
    <li>ns3.linode.com</li>
    <li>ns4.linode.com</li>
    <li>ns5.linode.com</li>
</ul>

<hr>

<h2>Third-Party Integrations</h2>

<h3 data-guide-section>Analytics</h3>
<p>The {{ guideVar("clientName") }} website has anonymous tracking set up to track user behaviour and campaign conversions.</p>
{{ self.passwordTable('Provider', 'Google Analytics', 'https://analytics.google.com/analytics', 'Google Analytics', 'username', guideVar("REPLACE_ME")) }}

{#

{{ self.passwordTable('Provider', 'Google Analytics', 'https://analytics.google.com/analytics/web', 'Google Analytics', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Provider', 'Google Tag Manager', 'https://tagmanager.google.com', 'Google Tag Manager', 'username', guideVar("REPLACE_ME")) }}

#}

<h4>SEO Sitemap</h4>
<p>A sitemap can be shared with search engines to aid them in crawling your website&rsquo;s content. Your sitemap can be found at: <span class="guide_code_inline">{{ siteUrl }}sitemap.xml</span></p>

<h3 data-guide-section>Email Service</h3>
<p>The site sends email through a secure transactional email service.</p>
{{ self.passwordTable('Service', 'Mailgun', 'https://app.mailgun.com/cp', 'Mailgun Login', 'username', guideVar("REPLACE_ME")) }}

{#

{{ self.passwordTable('Service', 'Mailgun', 'https://app.mailgun.com/cp', 'Mailgun Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Service', 'Postmark', 'https://account.postmarkapp.com/login', 'Postmark Login', 'username', guideVar("REPLACE_ME")) }}
{{ self.passwordTable('Service', 'Mandrill', 'https://admin.mailchimp.com/transactional/launch?target=%2F', 'Login via MailChimp', 'username', guideVar("REPLACE_ME")) }}

#}





{% macro passwordTable(companyType, company, loginAddress, loginLabel, username, password) %}
    {# NOTE: the use of input fields for user information is meant to make it easier to copy and paste information #}

    {% if username == 'username' %}
        <p class="guide_fpo">NEEDS EDIT</p>
    {% endif %}
    <table>
        <thead>
        <tr>
            <td>{{ companyType }}</td>
            <td>Username</td>
            <td>Password</td>
            <td>Login Address</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><b>{{ company }}</b></td>
            <td><input type="text" value="{{ username }}"></td>
            <td><input type="text" value="{{ password }}"></td>
            <td><a class="guide_button btn" href="{{ loginAddress }}" target="_blank">{{ loginLabel }}</a></td>
        </tr>
        </tbody>
    </table>
{% endmacro %}