{# @var craft \craft\web\twig\variables\CraftVariable #}

{% include 'guide/guideinc/test' %}

<h1>SEO</h1>

{% if pluginEnabled('seomatic') %}
    <p>The {{ guideVar("clientName") }} website has been set up to automatically optimize your content for SEO and social sharing. SEO titles, descriptions and images are extracted from the fields that make up the content of your entries. These are also used to populate Twitter Cards and Facebook's OpenGraph when a page is shared on social media.</p>

    <div class="guide_grid guide_grid--image">
        <div>
            <h2 data-guide-section>SEO and Social Previews</h2>
            <p>When you save an entry, a basic preview of what is shown on Google, Twitter, and Facebook can be found in the sidebar, below the publishing options.</p>
            <p>Best practices for titles and descriptions will be adhered to for each respective service. Images will be cropped to the suggested dimensions used when sharing on social media channels.</p>
        </div>
        {{ guideAsset('guide-seo-seomatic-seo-preview.png') }}
    </div>

    <hr>

    <div class="guide_grid guide_grid--2_column">
        <div>
            <h2 data-guide-section>SEO Settings Fields</h2>
            <p>On rare occasions, you may need to override the displayed information for search engines or for social sharing. This can be done with an SEO Field found within your entries.</p>
            <p>You may choose which fields are overriden by adjusting the setting in the SEO field. For example, if you would like to change the SEO image on an entry, you may choose to select another fields where the image is pulled from or you may upload a new image.</p>
        </div>
        {{ guideAsset('guide-seo-seomatic-field.png') }}
    </div>

    <hr>

    <h2 data-guide-section>Sitemap</h2>
    <p>A sitemap is included that helps search engines crawl the content on your website. If you are using SEO tools, like Google Webmaster Tools, you may submit your sitemap by using this link: <span class="guide_code_inline">{{ siteUrl }}sitemap.xml</span></p>

    <hr>

    <h2 data-guide-section>Structured Data</h2>
    <p>At a minimum, Google and other search engines look for a <span class="guide_code_inline">title</span> tag and a <span class="guide_code_inline">description</span> meta tag to display your page content in their search results. Search engines can also accept more information about your products and services by using a standard format, called structured data.</p>
    <p>For example, a business location can inform search engines about its store hours by using the <a href="https://schema.org/LocalBusiness" target="_blank">LocalBusiness schema</a> and passing store hour information into their structured data.</p>
    <p>The {{ guideVar("clientName") }} website uses JSON-LD to display structured data for search engines. Google provides a tool to see what data is being viewed by search engines, called the <a href="https://search.google.com/structured-data/testing-tool">Structured Data Testing Tool</a>.</p>
{% endif %}