{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Guide plugin for Craft CMS
 *
 * EmailSupport Widget Body
 *
 * @author    dd
 * @copyright Copyright (c) 2018 dd
 * @link      http://dd.com
 * @package   Guide
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{#{{ dump(guideSettings.emailSupportContacts) }}#}

{% set contactInfo = null %}

{% for item in guideSettings.emailSupportContacts %}
    {% if item.email == contact %}
        {% set contactInfo = item %}
    {% endif %}
{% endfor %}

<div class="guide_widget"  data-selected-contact-mail="{{ contactInfo.email ?? 'system' }}" data-selected-contact-name="{{ contactInfo.name ?? 'system' }}">
    <div class="guide_widget__content guide_text">
        {% if contactInfo ?? false %}
            {% if guideSettings.enableEmailSupportForm %}
                <h1>Email {{ contactInfo.name }}</h1>

                {{ forms.textareaField({
                    label: 'Message',
                    instructions: 'Markdown is supported.',
                    id: 'message',
                    name: 'message',
                    rows: 5,
                }) }}

                {{ forms.checkboxField({
                    label: 'Send Support Details',
                    instructions: 'Include helpful details about your browser and internet&nbsp;connection.',
                    id: 'details',
                    name: 'details',
                    checked: true,
                }) }}

                <a id="guide_widget__email_support__send" class="guide_button btn" href="#">Send</a>
            {% else %}
                <h1>Get Help</h1>
                <h2>{{ contactInfo.name }}</h2>

                {% if contactInfo.jobTitle ?? false %}
                    <p>{{ contactInfo.jobTitle }}</p>
                {% endif %}

                {% if contactInfo.phone ?? false %}
                    <a class="guide_button btn" href="tel:{{ contactInfo.phone }}">Call</a>
                {% endif %}

                {% if contactInfo.email ?? false %}
                    <a class="guide_button btn" href="mailto:{{ contactInfo.email }}">Email</a>
                {% endif %}
            {% endif %}
        {% else %}
            <p>No support contacts have been added to this website.{% if currentUser.admin %} Add them in <a href="{{ url('settings/plugins/guide') }}">Guide plugin settings</a>.{% endif %}</p>
        {% endif %}

        {% if guideSettings.guideTwoWarnings %}
            <div class="guide_fpo" style="margin-top: 20px; padding: 20px; font-size: .9rem;">Guide 2.0 is in the works and this feature is getting removed. Communicator is its replacement and it can be <a style="color: white !important; text-decoration: underline !important;" href="{{ url('plugin-store/communicator') }}">found in the Plugin Store</a></div>
        {% endif %}
    </div>
</div>