{# /**
 * Guide plugin for Craft CMS
 *
 * UI element field
 *
 * @author    Will Browar
 * @copyright Copyright (c) 2019 Will Browar
 * @link      https://wbrowar.com
 * @package   Guide
 * @since     3.0.0
 */ #}

{% if proEdition %}
  {% if uiId ?? false %}
    {% set displayId = 'uiElement-' ~ uiId %}

    {% include 'guide/_partials/guide_display.twig' with {
      guideDisplayArea: 'uiElement',
      displayId: displayId,
      element: element ?? null,
      guides: guide ?? false ? [guide] : null,
      inlineEditorId: displayId,
      placementId: placementId ?? false,
    } only %}
  {% else %}
    <p>{{ 'UI_ELEMENT_MISSING_ELEMENT_ID'|t('guide') }}</p>
  {% endif %}
{% else %}
  <p>{{ 'UI_ELEMENT_PRO_UPGRADE_1'|t('guide') }} <a href="{{ url('plugin-store/guide') }}">{{ 'UI_ELEMENT_PRO_UPGRADE_2'|t('guide') }}</a> {{ 'UI_ELEMENT_PRO_UPGRADE_3'|t('guide') }}</p>
{% endif %}